body {
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#header {
  position: relative;
  margin: auto;
  width: 988px;
  height: 286px;
  background-image: url(/images/header.png);
}

#header div {
  position: absolute;
  left: 280px;
  top: 0px;
  width: 386px;
  height: 284px;
  background-image: url(/images/htext.png);
}

#header dl {
  position: absolute;
  left: 700px;
  top: 125px;
  margin: 0;
  text-align: left;
  font-size: 160%;
}

#header dd {
  margin: 0;
  font-weight: bold;
}

#header dt {
  color: #5C0000;
}

#hmenu {
  background-color: #404b56;
  background: linear-gradient(#121519, #485460);
  padding: 1ex 0;
  white-space: nowrap;
}

#hmenu a {
  color: #ced4da;
  text-decoration: none;
  padding: 1ex;
  border-width: 0 1px;
  border-style: solid;
  border-left-color:  rgba(255, 255, 255, .27);
  border-right-color: rgba(0, 0, 0, .27);
}

#hmenu a:hover{
  color: white;
}

#footer {
  background-color: #45515b;
  min-height: 3em;
}
