#fotky {
  text-align: center;
}

#fotky .thumbnail {
  display: inline-block;
  border:  ridge;
  vertical-align: top;
  white-space: nowrap;
}

#fotky a {
  text-decoration: none;
}

#fotky .thumbnail a {
  display: block;
  overflow: hidden;
  text-align: center;
  color: navy;
}

#fotky img {
  border: none;
}

#fotky .left {
  float: left;
}

#fotky .right {
  float: right;
}
