#fotky {
  text-align: center;
}

#fotky .thumbnail {
  display: inline-block;
  border:  ridge;
  vertical-align: top;
  white-space: nowrap;
}

#fotky .thumbnail a {
  display: block;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: navy;
}
