html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: black;
  background-color: #bddafb;
  background: linear-gradient(#bddafb, white);
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

#huitiao {
  font-size: 90%;
  color: yellow;
  text-decoration: none;
}

#huitiao:hover {
  text-decoration: underline;
}

#huitiao-popup {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  padding: 0.3ex;
  background-color: #bddafb;
  background: linear-gradient(#bddafb, white);
  border: 1px solid black;
  border-radius: 0.5ex;
  white-space: nowrap;
  text-align: left;
  color: black;
}

#huitiao-popup a {
  display: block;
  text-align: right;
  text-decoration: none;
  font-weight:bold;
  color: black;
  text-shadow:0 1px 0 white;
}

#huitiao-popup a:hover {
  color: red;
}

#huitiao-popup form {
  padding: 0.2ex;
}

#huitiao-popup form p
{
  margin: 0;
  font-weight: bold;
}

#huitiao-popup input, #huitiao-popup textarea {
  width: 100%;
  -width: 15em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#huitiao-popup label div {
  font-size: 80%;
}

#zhi {
  width: 100%;
  padding: 1ex;
  background-color: white;
  text-align: justify;
  vertical-align: top;
}

#footer {
  background-color: #45515b;
  padding: 1em 1ex;
  text-align: left;
  font-size: 70%;
}

.devel {
  position: absolute;
  right: 0;
  font-size: 75%;
  text-align: right;
}

.devel a {
  display: block;
  text-decoration: none;
  color: black;
  background: silver;
  border: 1px solid gray;
  border-radius: 0.9ex;
  padding: 0.1ex;
}

.devel a:hover {
  color: blue;
}

#paginator {
  text-align: center;
  border-top: 1px dashed black;
  padding-top: 1px;
  margin-top: 2em;
  font-size: 87%;
}

#paginator .left {
  float: left;
}

#paginator .right {
  float: right;
}

/* Some borrows from Twitter Bootstrap */
.muted {
  color: #999999;
}

.text-warning {
  color: #c09853;
}

.text-error {
  color: #b94a48;
}

.text-info {
  color: #3a87ad;
}

.text-success {
  color: #468847;
}

.success {
  background-color: #dff0d8;
}

.error {
  background-color: #f2dede;
}

.warning {
  background-color: #fcf8e3;
}

.info {
  background-color: #d9edf7;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

img.text-left {
  float: left;
  margin: 1ex;
  margin-left: 0;
}

img.text-right {
  float: right;
  margin: 1ex;
  margin-right: 0;
}
