---
layout: default
title:  Все новости
---

{% for z in paginator.posts %}
  <h3><a href="{{ z.url }}">{{ z.title }}</a></h1>
  <div class='content'>
    {{z.excerpt}}
  </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div id='paginator'>
{% if paginator.previous_page %}
<a href="{% if paginator.page > 2 %}{{ paginator.previous_page_path }}{% else %}..{% endif %}/" class='left'>Назад</a>
{% endif %}
Страница {{ paginator.page }} / {{ paginator.total_pages }}
{% if paginator.next_page %}
<a href="{{ paginator.next_page_path }}/" class='right'>Ещё</a>
{% endif %}
</div>

{% endif %}
