<!DOCTYPE html>
<html><head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">{% unless site.github %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">{% endunless %}
{% include css.html %}{% include js.html %}</head><body>

{% include header.html %}
{% include hmenu.html %}
{% unless site.github %}{% include devel.html %}{% endunless %}
<table><tr>
{% include vmenu.html %}
<td id='zhi'>
<h1>{{ page.title }}</h1>
{{ content }}
{% unless page.no-disqus %}{% if site.data.tokens.disqus %}
{% include disqus.html %}{% endif %}{% endunless %}
</td>
</tr></table>

{% include footer.html %}
</body></html>
