<!DOCTYPE html>
<html><head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/qi.css">
</head><body>

<div id='header'>
  <div></div>
  <dl>
    <dd>Наш телефон</dd>
    <dt>+7(908)6397870</dt>
  </div>
</div>

<div id='hmenu'>
{% for z in site.data.hmenu %}<a
  href="{{z.url}}">{{z.text}}</a>{% endfor %}
</div>

<table id='duilian'><tr>
<td id='vmenu'>{% for z in site.data.vmenu %}
  <a href="{{z.url}}"{% if page.url == z.url %} class='active'{%endif%}>{{z.text}}</a>{% endfor %}
</td>
<td id='wen'>
<h1>{{ page.title }}</h1>
{{ content }}
</td>
</tr></table>

<div id='footer'></div>

</body></html>
